@page "/"

<PageTitle>EngTutorNet - Home</PageTitle>

<h3>Welcome to EngTutorNet</h3>

<p>Your online English tutor.</p>

<div>
    <h4>Available Lessons</h4>
    <ul>
        <li>Grammar</li>
        <li>Vocabulary</li>
        <li>Pronunciation</li>
        <li>Reading Comprehension</li>
    </ul>
</div>

<div>
    <h4>Upcoming Sessions</h4>
    <p>No upcoming sessions. Schedule one now!</p>
</div>