@page "/pronunciation"

<PageTitle>Pronunciation Lessons</PageTitle>

<h3>Pronunciation Lessons</h3>

<p>Welcome to the pronunciation lessons page. Here you will find various resources to improve your pronunciation skills.</p>

<div>
    <h4>Topics</h4>
    <ul>
        <li>Vowel Sounds</li>
        <li>Consonant Sounds</li>
        <li>Stress and Intonation</li>
        <li>Connected Speech</li>
    </ul>
</div>