@page "/vocabulary"

<PageTitle>Vocabulary Lessons</PageTitle>

<h3>Vocabulary Lessons</h3>

<p>Welcome to the vocabulary lessons page. Here you will find various resources to improve your vocabulary skills.</p>

<div>
    <h4>Topics</h4>
    <ul>
        <li>Basic Vocabulary</li>
        <li>Intermediate Vocabulary</li>
        <li>Advanced Vocabulary</li>
        <li>Idioms and Phrases</li>
    </ul>
</div>